.nav_bar {
    display: flex;
    align-items: center;
    position: relative;
}
#return_btn {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000080;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.register_form {
    font-size: 2.5rem;
    text-transform: lowercase;
}
.register_form > * {
    margin-left: 1.5rem;
}
.register_form input {
    width: 40rem;
}
.info_form {
    display: inline-block;
    font-size: 1rem;
}
#register_btn {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    margin-top: 2rem;
    background: #000080;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}