@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500&subset=latin-ext');

/*///////// INITIAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
}
body {
    margin: 0 auto;
    width: 65vw;
    height: 75vh;
}
/*///////// HEADER SECTION */
nav {
    margin: 1rem;
}
nav h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: #000080;
}
.nav_bar {
    background-color:#000080;
    color: #fff;
    font-size: 3.5rem;
    margin: 1rem;
}
.nav_bar span {
    margin: 1rem;
    padding: 1rem 0;
    display: flex;
}
/*///////// MAIN SECTION */
.main_page {
    background-color: #f6f6ff;
    width: 70%;
    margin: 1rem;
}
.main_content {
    font-size: 2.5rem;
    margin: 2rem 1rem;
}
.main_content h2 {
    padding: 2rem 0;
}
/*///////// zaloguj i zarejestruj button */
#zaloguj_btn,
#zarejestruj_btn {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    border: 2px solid #000080;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
#zaloguj_btn {
    background-color: #000080;
    color: #fff;
}
#zarejestruj_btn {
    background-color: transparent;
}

/*///////// formularz logowania */
.zaloguj_form {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

input[type="email"],
input[type="password"] {
    width: 25rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding-left: .5rem;
    outline: none;
    border: none;
}

input[type="password"] {
    margin-top: 1.5rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
	box-shadow: 0 0 7px 0 rgba(0, 0, 128, .63);
}

input::placeholder {
    font-size: 1rem;
    padding-left: .5rem;
    letter-spacing: .1rem;
}

.zaloguj_form label {
    margin-right: 1rem;
}

#log_btn {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: .3rem 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #000080;
    border: 1px solid #000080;
}

.log_info {
    display: inline-block;
    margin-left: 1rem;
}

/*///////// opis i zasady gry button */
.main_content p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2.5rem;
}
#zasady_btn {
    margin: 2rem 0;
    font-size: 1.2rem;
    padding: .7rem 0;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #000080;
}