@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500&subset=latin-ext');

/*// initial page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0 auto;
    width: 80vw;
    height: 75vh;
    position: relative;
}

.wrapper {
    margin: 5vh 0;
    font-size: 3rem;
    display: flex;
}

/*// user form */

#user_container {
    width: 40rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: #F2F5F8;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: calc(50% - 20rem);
}

#user_form {
    margin-left: 2rem;
}

#user_label {
    margin-top: 1rem;
}

#username {
    border: none;
    outline: none;
    margin: .5rem 0 2rem 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    font-size: 2rem;
}

#user_submit_btn {
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;    
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/*// canvas container */
#canvas_container {
    border: 1px solid black;
    cursor: pointer;
    flex: 2;
    position: relative;
    display: none;
}

.canvas {
    width: 100%;
    height: 100%;
}

/*// sidebar setup */
#sidebar {
    background-color: lightskyblue;
    flex: 1;
    display: none;
}

#sidebar > * {
    margin: 0 1.5rem;
}

/*// game start container */
#start_btn {
    display: inline-block;
    margin-top: 2rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

/*// game passsword container */
#password_container {
    display: none;
    margin-top: 2rem;
    padding: .5rem;
    background-color: #F2F5F8;
    border-radius: .4rem;
}

#password_label {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1rem;
}

#password {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
}

/*// game controls container */

#controls_container {
    display: none;
    margin-top: 2rem;
    background: #F2F5F8;
    padding: .5rem;
    border-radius: .4rem;
}

.reset_btn {
    margin-left: 1rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

/*// chat container */

#chat_container {
    margin-top: 2rem;
    display: none;
}

.message-sent {
    font-size: 1.2rem;
    background-color: #F2F5F8;
    padding-left: 1rem;
}

#chat {
    display: block;
    height: 10rem;
    background-color: #fff;
    padding: .2rem;
    overflow: auto;
    border-radius: .4rem;
}

#chat_user {
    font-size: 1.5rem;
}

#message {
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    border-radius: .4rem;
    border: none;
    outline: none;
}

#chat_submit_btn {
    margin-top: 1rem;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;    
    font-size: 1.5rem;
}

/*// game info container */

#gameinfo_container {
    display: none;
    background-color: #fff;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-radius: .4rem;
    overflow: auto;
}

.gameinfo_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
}

.gameinfo_nav > * {
    flex: 1;
    text-align: center;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #000;
    transition: all .3s;
}

#players_btn,
#settings_btn {
    border: none;
    outline: none; 
    overflow: hidden;
    background-color: #fff;
}

#players_btn:hover, #players_btn:active,
#settings_btn:hover, #settings_btn:active {
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

#players, #settings {
    padding: .5rem;
    font-size: 1rem;
}

.users_item {
    font-size: 1.5rem;
    padding: .5rem 0;
    padding-left: 1rem;
    background-color: #F2F5F8;
}
