@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500&subset=latin-ext');

/*///////// INITIAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0 auto;
    width: 80vw;
    height: 75vh;
}

.game_box {
    margin: 5vh 0;
    font-size: 3rem;
    display: flex;
}

/*///////// PLAY BOX */
#play_box {
    border: 1px solid black;
    cursor: pointer;
    flex: 2;
}

/*///////// NAVIGATION BOX */
.nav_box {
    background-color: lightskyblue;
    flex: 1;
}

.row {
    margin-top: 3rem;
}

.well {
    font-size: 1.2rem;
    background-color: #fff;
    padding: .1rem;
}

.online-users {
    display: block;
}

.enter-msg {
    font-size: 1.5rem;
    margin-top: .5rem;
}

.form-control {
    font-size: 1.3rem;
    width: 18rem;
}

#submit_btn {
    font-size: 1.5rem;
}

.messageArea {
    display: none;
}

































/*///////// top navigation 
.nav_top {
    width: 100%;
    height: 20%;
    border: 1px solid #000;
    padding: 2rem 1rem;
}

.nav_box h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}
.nav_box h4::after {
    content: '';
    display: block;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: -70%;
    width: 100%;
}

input[type="checkbox"] {
    margin-top: 1rem;
    margin-right: .8rem;
    transform: scale(1.2);
}

.nav_top label {
    font-size: 1.5rem;
}

#clear_btn {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: .5rem;
    background-color: #fff;
    cursor: pointer;
}
*/

/*///////// chat box 
.chat_box {
    border: 1px solid #000;
    width: 100%;
    height: 35%;
    position: relative;
}

.chat_view {
    display: block;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 3rem);
    font-size: 2rem;
}

.chat_msg {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chat_msg input[type="text"] {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}
*/


/*///////// players & settings box 
.players_settings_box {
    border: 1px solid #000;
    background-color: #fff;
    width: 100%;
    height: 25%;
    margin-top: 2rem;
}

.players_settings_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #000;
}

.players_settings_nav > * {
    padding: .5rem 0;
}

.players {
    display: none;
}

.settings {
    display: none;
}
*/
